.todo {
  width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
  padding: 0.4rem 0.6rem;
  border: 2px solid #02b1e8;
  margin-bottom: 0.5rem;
}

.todo:first-child{
  margin-top: 2rem;
}

.todo__content{
  font-size: 1.1rem;
}